API_PORT=8080
LOG_LEVEL=DEBUG

# 'db' if you're using the docker-compose file
DB_HOST=localhost
DB_PORT=5432
DB_NAME=meu-guia-db
DB_USERNAME=postgres
DB_PASSWORD=postgres

JWT_SECRET=this_is_a_secret_key_this_is_a_secret_key_this_is_a_secret_key_this_is_a_secret_key_
JWT_EXPIRATION=3600000

# Change those to match the test profile
# Must start with 'http://' or 'https://'
TEST_SERVER_URI=http://localhost
TEST_SERVER_PORT=8080
TEST_SERVER_BASE_PATH=/api